qrcg-custom-form-response-preview::part(action-change) {
    display: none;
}

qrcg-custom-form-response-preview {
    margin-bottom: 1rem;
}

.responses-toolbar {
    display: flex;
    margin: 0 0 1rem 0;

    .action {
        color: var(--primary-0);
        font-weight: bold;
        font-size: 0.8rem;
    }
}
