.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
    margin-top: 1rem;

    qrcg-input {
        flex: 1;
        &::part(label) {
            color: var(--gray-2);
        }
    }
}

label {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    user-select: none;
    -webkit-user-select: none;
}

.text {
    color: var(--gray-2);
    font-weight: bold;
}
