:host {
    display: block;
    position: relative;
    box-sizing: border-box;
}

@media (min-width: 900px) {
    :host {
        display: grid;
        grid-template-columns: calc(100% - 400px - 2rem) calc(400px + 1rem);
        grid-gap: 1rem;
    }
}

section,
qrcg-form-section {
    border: solid 0.5rem var(--gray-0);
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 900px) {
        padding: 0.5rem;
    }
}

section:last-child,
qrcg-form-section:last-child {
    margin-bottom: 0;
}

h2 {
    color: var(--gray-2);
    margin: 0 0 1rem 0;
}

qrcg-webpage-preview {
    position: relative;
    z-index: 10;
    transition: margin-top ease 0.2s;
    align-self: flex-start;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    qrcg-webpage-preview {
        margin-top: 2rem;
    }
}

.action-link {
    display: block;
    text-align: center;
    cursor: pointer;
}

.automatic-form-responses {
    --button-color: var(--primary-0);
    --button-background-color: transparent;
    --button-background-color-hover: var(--gray-0);
    --button-outline-focus: var(--gray-1);

    qrcg-icon {
        color: var(--gray-2);
        margin-inline-end: 0.5rem;
        pointer-events: none;
    }

    &::part(button) {
        box-shadow: none;
        min-width: initial;
    }
}
