.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    > * {
        margin-bottom: 0;
    }
}
