:host {
    display: flex;
    position: relative;
    width: calc(100vw - 2rem);
    min-height: calc(var(--available-height, 100vh) - 2rem);
    z-index: 1;
    margin: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.5);
}

:host(.right) {
    flex-direction: row-reverse;

    .account-page-background {
        border-start-start-radius: 2rem;
        border-end-start-radius: 2rem;

        &.no-radius {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }
    }
}

.account-page-background {
    flex: 2;
    min-height: 10rem;
    max-width: 35vw;
    background-image: var(
        --qrcg-account-page-background-image,
        url('/assets/images/account-page-background.jpg')
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-start-end-radius: 2rem;
    border-end-end-radius: 2rem;

    &.no-radius {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }
}

.account-page-content {
    flex: 3;
    background-image: radial-gradient(
            rgba(231, 229, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        linear-gradient(
            -45deg,
            rgba(0, 4, 255, 0.1),
            rgba(76, 255, 67, 0.1),
            rgba(255, 255, 255, 0.1)
        );

    &.no-gradient {
        background-image: none;
    }

    .account-page-content-box {
        max-width: 400px;
        margin: auto;
        text-align: center;
        padding-bottom: 2rem;
    }
}

.logo-container {
    display: flex;
    align-items: center;
}

qrcg-app-logo {
    margin: 15vh auto 1rem;
}

qrcg-app-logo.is-default {
    height: 7rem;
}

qrcg-form::part(form) {
    display: grid;
    grid-gap: 1rem;
}

a {
    color: var(--gray-2);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: var(--dark);
    }
}

.go-home {
    display: block;
    margin-top: 2rem;
    text-align: center;
}

.page-title {
    font-weight: normal;
    color: var(--dark);
}

.page-description {
    font-weight: lighter;
    line-height: 1.7;
}

[name] {
    text-align: start;
}

@media (max-width: 900px) {
    :host {
        flex-direction: column;
    }

    .account-page-background {
        border-radius: 2rem;
        display: none;
    }

    qrcg-app-logo {
        margin-top: 10vh;
        margin-bottom: 0;
    }

    .account-page-content-box {
        padding: 0 1rem;
    }
}
